---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Diego Andrés pero mis amigos me llaman dieguito. Empecé en la
      programación cuando apenas puedo recordarlo, con un Ibm ThinkCentre ❤️ (ya un poquito en desahuso para la epoca y regalo de una tia muy querida.. tal vez ella no supo cuando hizo con ese gesto.. ❤️), pero este sembro en mi, la curiosidad de saber como hacia para funcionar.. tenía 9 años. Actualmente estoy <strong
        >haciendo parte del equipo de desarrollo de la app mobile de uno de los bancos mas prestigioso de colombia 🏠</strong
      >.
    </p>

    <p>
      Algunos de mis mas brillantes éxitos incluyen <strong
        >el desarollo desde 0, de mi tesis de grado, misma que fue reconocida mediante una mencion de honor, por su impacto tecnologico en la región</strong
      >. Debido al uso de multiples tecnologias de punta en su momento para realizar esta implementacion bajo el paradigma de IoT, (Internet of Things).
    </p>

    <p>
      Como Ingeniero de software, soy fiel creyente de una tesis:
      que dice que el hecho de estar especializado en una rama del desarollo (en mi caso, Mobile Frontend), no implica olvidarse de las demas ramas o dejarlas de lado, si no que por el
      contrario se deberia aprender un poco de cada una, de cualquier forma en general todas convergen en algun punto, algunas practicas o paradigmas tipicas en otroos frentes pueden valer incluso para enriquecer, en el que especializas
      <strong
        >para mi ser Ingeniero es ser creativo "ingenioso", no depender de una sola tecnologia.</strong
      >. 
    </p>

    <p>
      Por ultimo, mi objetivo es demostrar las capacidades que tengo, y algunas de las tecnologias que domino, y que me han servido tanto en el ambito profesional y personal... 
    </p>

    <p>
      <strong>Frontend</strong>
        React, React Native, Css, tailwind, vanila Javascript, TypeScript, html
    </p>

    <p>
      <strong>Backend</strong>
        Asp.net core, NodeJS, Php, Java con spring boot, grahpQL, python
    </p>

    <p>
      <strong>Cloud</strong>
        AWS, Google Cloud, Docker, Azure DevOps, Github Actions.
    </p>

    <p>
      <strong>IoT (internet de las cosas)</strong>
        EMQX, C++ || Arduino, Vesta Panel, Gestion de servidor en vps Aws y google cloud.
    </p>

    <p>
      <strong>Buenas Practicas</strong>
        Solid, Design patterns, Unit Test.
    </p>

    <p>
      <strong>Unit Test</strong>
        Jest, Cypress, vitest, react testing library
    </p>

    <p>
      <strong>Menciones especiales</strong>
        sistemas basados en unix, windows server, linux
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
