---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Ingeniero de software Mobile React Native Senior",
    company: "Valid Colombia",
    description:
      "Encargado del desarrollo de apps en el sector financiero, banking, responsable de optimizar el performance de apps, implementando buenas practicas que permitan un desarrollo escalable, mitigando defectos o bugs, mediante el uso de test unitarios, test end to end, y pruebas automatizadas",
    link: "https://www.linkedin.com/company/valid-s-a-/",
  },
  {
    date: "Octubre 2022",
    title: "Ingeniero full stack, React, React Native, Asp.net core",
    company: "Ecomsur (Actualmente Infracommerce)",
    description: "Responsable de crear y mantener plataforma Ecommerce Onmidirecional, que pretende mantener las ventas mediante el sistema de venta directa en la tienda sobre el stock de otras tiendas o bodegas de la marca",
    link: "https://www.linkedin.com/company/ecomsur/",
  },
  {
    date: "Junio 2021",
    title: "Ingeniero full stack, React, React Native, Graphql",
    company: "Apphive",
    description: "Responsable de crear y mantener plataforma para el desarrollo NOCODE, en donde mediante el sistema Drap And Drop se crea el core, para generar luego una aplicacion mobile",
    link: "https://apphive.io/es",
  },
  {
    date: "Febrero 2020",
    title: "Ingeniero full stack, React, Php, C#, AWS",
    company: "Adhara Tecnology",
    description: "Responsable de crear y mantener plataformas, para distintos clientes en varios sectores como almacenes, ferreterias, dando soluciones a medida mediante software y hardware. Implementando entre estas servidores para comunicacion bidireccional entre dispositivos contruidos desde 0 con tecnologias de arduino y Espressif ",
  },
  {
    date: "Febrero 2018",
    title: "Ingeniero Practicante Semillero de Investigación en Física y Matemática GANEI.",
    company: "Universidad Popular Del Cesar",
    description: "Responsable de crear y dirigir proyectos de impacto en el ambiente educativo, directo responsable de equipo de trabajo del desarrollo del sistema matematicos Numeralic, que su enfoque principal es dar soporte al aprendizaje de metodos de integracion de ecuaciones por metodos numericos, Este proporciona a los estudiantes una guia detallada de cada paso a seguir para resolver estos problemas planteados, esto lo hace mediante una interface intuitiva que entrega los resultados, graficas del mismo y guia de los pasos utilizados.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
